@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* gradient for nav btn  */
.nav-btn{
    background: linear-gradient(to top right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}
.fa-arrow-right{
   animation: move-arrow 0.90s ease-in-out  infinite alternate;
}
@keyframes move-arrow{
    0%{
         transform: translateX(0);
        }
        100%{
            opacity:0.5;
            transform: translateX(5px);
    }
}

/* nav logo color  */
.nav-logo{
    background: linear-gradient(to top ,rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color:transparent;
    -webkit-background-clip: text;
}

/* hero buttton hover effect  */
.banner-btns1:hover {
    transform: translateX(-8px);
    transition: all 0.4s ease;
}

.banner-btns2:hover  {
  transform: translateX(8px);
  transition: all 0.4s ease;
}

